@import "tailwindcss";

/* Light Theme */
:root[data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;
  --link-inactive: #6b7280;
  /* Gray-500 */
  --link-hover: #000000;
  /* Black */
}

/* Dark Theme */
:root[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --link-inactive: #9ca3af;
  /* Gray-400 */
  --link-hover: #ffffff;
  /* White */
}


@theme inline {
  --color-custom-blue: #1e3a8a;

}

.icon-hover {
  @apply text-neutral-600 dark:text-white transition-transform transition-colors duration-300;
}

.icon-hover:hover {
  @apply text-gray-300 scale-110;
}

body {
  position: relative;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.5s, color 0.5s;
  /* Smooth transition for theme change */
}

.blur-trail {
  filter: blur(3px);
  transition: filter 0.2s;
}

html {
  scroll-behavior: smooth;
}

.icon {
  @apply h-6 w-6 text-neutral-500 dark:text-neutral-300;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background-image: linear-gradient(270deg, yellow, skyblue, purple);
  background-size: 200% 200%;
  animation: gradientShift 3s ease infinite;
}

@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}