@import "tailwindcss";

/* Light Theme */
:root[data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;
  --link-inactive: #6b7280;
  /* Gray-500 */
  --link-hover: #000000;
  /* Black */
}

/* Dark Theme */
:root[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --link-inactive: #9ca3af;
  /* Gray-400 */
  --link-hover: #ffffff;
  /* White */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
} */

@theme inline {
  --color-custom-blue: #1e3a8a;

}

.icon-hover {
  @apply text-neutral-600 dark:text-white transition-transform transition-colors duration-300;
}

.icon-hover:hover {
  @apply text-gray-300 scale-110;
}

body {
  position: relative;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.5s, color 0.5s;
  /* Smooth transition for theme change */
} 

.blur-trail {
  filter: blur(3px);
  transition: filter 0.2s;
}

html {
  scroll-behavior: smooth;
}